<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Support System</title>
</head>
<body>
  <%- include('includes/nav-user') %>
  <main>
    <h2>Thank you</h2>
    <p id="confirmation">Your request has been successfully submitted</p>
    <img id= "confirmation-image" src="/images/pexels.jpg" alt="Thank you">
    <!-- Photo by Pixabay from Pexels: https://www.pexels.com/photo/focus-photo-of-super-mario-luigi-and-yoshi-figurines-163036/ -->
  </main>
<%- include('includes/footer.ejs') %>