<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Support System</title>
</head>
<body>
  <%- include('includes/nav-admin.ejs') %>
  <main>
    <h2>Thank you</h2>
    <p id="confirmation"><%= message %></p>
    <img id= "confirmation-image" src="/images/pexels3.jpg" alt="Thank you">
    <!-- Photo by Oleksandr Pidvalnyi from Pexels: https://www.pexels.com/photo/brown-monkey-321552/ -->
  </main>
<%- include('includes/footer.ejs') %>